<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css" />
    <style>
      .select2-container--bootstrap-5 .select2-selection--multiple .select2-search,
      .select2-container--bootstrap-5 .select2-selection--multiple .select2-selection__rendered {
        display: inline;
      }
      .select2-container--bootstrap-5 .select2-selection--multiple .select2-selection__rendered .select2-selection__choice {
        display: inline;
        border: 0;
        padding: 0;
      }
      .select2-container--bootstrap-5 .select2-selection--multiple .select2-selection__rendered .select2-selection__choice .select2-selection__choice__remove {
        display: none;
      }
    </style>

    <title>Lunch Roulette</title>
  </head>
  <body>
    <div id="pnl-place-list" class="d-none">
      <nav class="navbar navbar-expand fixed-top bg-primary text-white">
        <div class="container-fluid">
          <span class="navbar-brand mb-0 h1">Place list</span>
          <ul class="navbar-nav flex-row">
            <li>
              <a class="nav-link py-0 px-2 text-white" href="" data-lr-role="tooltip" data-bs-title="Search place" id="btn-search">
                <i class="h5 bi-search"></i>
              </a>
            </li>
            <li>
              <a class="nav-link py-0 px-2 text-white" href="" data-lr-role="tooltip" data-bs-title="Add place" data-bs-toggle="modal" data-bs-target="#place-modal">
                <i class="h5 bi-plus-lg"></i>
              </a>
            </li>
            <li class="dropdown">
              <a class="nav-link py-0 px-2 text-white" href="" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="h5 bi-three-dots-vertical"></i>
              </a>
              <ul class="dropdown-menu dropdown-menu-end">
                <li>
                  <a class="dropdown-item" href="" data-bs-toggle="modal" data-bs-target="#profile-modal">
                    <i class="h5 me-2 mb-0 align-bottom bi-person"></i>My profile
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="" data-bs-toggle="modal" data-bs-target="#chg-pwd-modal">
                    <i class="h5 me-2 mb-0 align-bottom bi-key"></i>Change password
                  </a>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li>
                  <a class="dropdown-item" href="" id="btn-logout">
                    <i class="h5 me-2 mb-0 align-bottom bi-box-arrow-right"></i>Log out
                  </a>
                </li>
              </ul>
            </li>
          </ul>
          <div class="d-flex align-items-center w-100 d-none">
            <input class="form-control me-2 py-1" type="search" placeholder="Search" aria-label="Search">
            <a class="text-white" href="" data-lr-role="tooltip" data-bs-title="Close search" id="btn-close-search"><i class="h5 bi-x-lg"></i></a>
          </div>
        </div>
      </nav>
      <div style="margin-top: 50px;" class="d-flex justify-content-evenly flex-wrap">
        <div class="card shadow mt-3" style="width: 18rem;">
          <img class="card-img-top">
          <i class="bi-image-alt text-center mt-4" style="font-size: 100px;"></i>
          <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text adrs"></p>
            <p class="card-text pos"><i class="bi-geo-alt"></i></p>
          </div>
          <div class="text-end mb-3 me-3">
            <a class="btn btn-primary" href="" data-lr-role="tooltip" data-bs-title="Edit place" data-bs-toggle="modal" data-bs-target="#place-modal">
              <i class="bi-pencil"></i>
            </a>
            <a class="btn btn-danger" href="" data-lr-role="tooltip" data-bs-title="Delete place" data-bs-toggle="modal" data-bs-target="#delete-place-modal">
              <i class="bi-trash"></i>
            </a>
          </div>
        </div>
        <div id="no-places" class="d-flex flex-column align-items-center d-none">
          <i class="bi-shop mt-5 display-1"></i>
          <p>No places. Start by adding a <a href="" data-bs-toggle="modal" data-bs-target="#place-modal">new place</a>.</p>
        </div>
        <div id="no-places-found" class="d-flex flex-column align-items-center d-none">
          <i class="bi-search mt-5 display-1"></i>
          <p>No places found.</p>
        </div>
        <div id="error-places" class="d-flex flex-column align-items-center d-none">
          <i class="bi-emoji-frown mt-5 display-1"></i>
          <p>Something went wrong.</p>
        </div>
        <div id="spinner-places" class="d-flex flex-column align-items-center pt-5 d-none">
          <div class="spinner-border text-primary mt-5" style="width: 5rem; height: 5rem;"></div>
        </div>
      </div>
    </div>

    <div id="pnl-login" class="container-fluid d-none">
      <div class="row align-items-center justify-content-center vh-100">
        <div class="col-md-7 col-lg-5 col-xl-4 col-xxl-3">
          <div class="card shadow-lg">
            <div class="card-body p-5">
              <h2 class="fw-bold text-uppercase">Lunch Roulette</h2>
              <p>Please enter your login and password!</p>
              <form id="form-login">
                <div class="mb-3">
                  <label class="form-label" for="l-username">Username</label>
                  <input class="form-control" id="l-username" type="username" placeholder="MyUser" data-lr-field="username">
                  <span class="invalid-feedback"></span>
                </div>
                <div class="mb-3">
                  <label class="form-label" for="l-password">Password</label>
                  <input class="form-control" id="l-password" type="password" placeholder="******" data-lr-field="password">
                  <span class="invalid-feedback"></span>
                </div>
                <!--p class="small"><a class="text-primary" href="forget-password.html">Forgot password?</a></p-->
                <button class="btn btn-primary w-100" type="submit">
                  <span>Login</span>
                  <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                </button>
              </form>
              <div>
                <p class="mb-0 text-center">
                  Don't have an account?
                  <a href="" data-bs-toggle="modal" data-bs-target="#sign-up-modal" class="text-primary fw-bold">Sign Up</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" data-bs-backdrop="static" id="sign-up-modal"
         tabindex="-1" aria-labelledby="sign-up-modalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="sign-up-modalLabel">Sign Up</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body p-4">
            <form id="form-sign-up" novalidate>
              <div class="mb-3">
                <label class="form-label" for="r-username">Username</label>
                <input class="form-control" id="r-username" type="username" placeholder="MyUser" data-lr-field="username">
                <span class="invalid-feedback"></span>
              </div>
              <div class="mb-3">
                <label class="form-label" for="r-email">Email</label>
                <input class="form-control" id="r-email" type="email" placeholder="user@example.com" data-lr-field="email">
                <span class="invalid-feedback"></span>
              </div>
              <div class="mb-3">
                <label class="form-label" for="r-password">Password</label>
                <input class="form-control" id="r-password" type="password" placeholder="******" data-lr-field="password">
                <span class="invalid-feedback"></span>
              </div>
              <div class="mb-3">
                <label class="form-label" for="c-password">Confirm password</label>
                <input class="form-control" id="c-password" type="password" placeholder="******" data-lr-field="confirm password">
                <span class="invalid-feedback"></span>
              </div>
              <div class="d-flex justify-content-end">
                <button class="btn btn-primary" type="submit">
                  <span>Sign Up</span>
                  <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" data-bs-backdrop="static" id="chg-pwd-modal"
         tabindex="-1" aria-labelledby="chg-pwd-modalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="chg-pwd-modalLabel">Change password</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body p-4">
            <form id="form-chg-pwd" novalidate>
              <div class="mb-3">
                <label class="form-label" for="o-password">Old password</label>
                <input class="form-control" id="o-password" type="password" placeholder="******" data-lr-field="old password">
                <span class="invalid-feedback"></span>
              </div>
              <div class="mb-3">
                <label class="form-label" for="n-password">New password</label>
                <input class="form-control" id="n-password" type="password" placeholder="******" data-lr-field="password">
                <span class="invalid-feedback"></span>
              </div>
              <div class="mb-3">
                <label class="form-label" for="cn-password">Confirm new password</label>
                <input class="form-control" id="cn-password" type="password" placeholder="******" data-lr-field="confirm password">
                <span class="invalid-feedback"></span>
              </div>
              <div class="d-flex justify-content-end">
                <button class="btn btn-primary" type="submit">
                  <span>Change password</span>
                  <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" data-bs-backdrop="static" id="profile-modal"
         tabindex="-1" aria-labelledby="profile-modalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="profile-modalLabel">My profile</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body p-4">
            <form id="form-profile" novalidate>
              <div class="mb-3">
                <label class="form-label" for="p-username">Username</label>
                <input class="form-control" id="p-username" type="username" placeholder="MyUser" data-lr-field="username">
                <span class="invalid-feedback"></span>
              </div>
              <div class="mb-3">
                <label class="form-label" for="p-email">Email</label>
                <input class="form-control" id="p-email" type="email" placeholder="user@example.com" data-lr-field="email">
                <span class="invalid-feedback"></span>
              </div>
              <div class="d-flex justify-content-end">
                <button class="btn btn-primary" type="submit">
                  <span>Confirm changes</span>
                  <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" data-bs-backdrop="static" id="place-modal"
         tabindex="-1" aria-labelledby="place-modalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="place-modalLabel"></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body p-4">
            <form id="form-place" novalidate>
              <div class="mb-3">
                <label class="form-label" for="place-name">Name</label>
                <select id="place-name" data-lr-field="name"></select>
                <span class="invalid-feedback"></span>
              </div>
              <div class="mb-3">
                <label class="form-label" for="place-address">Address</label>
                <select id="place-address" data-lr-field="address"></select>
                <span class="invalid-feedback"></span>
              </div>
              <div class="mb-3">
                <label class="form-label" for="place-lat">Latitude</label>
                <input class="form-control" id="place-lat" type="text" placeholder="55.7037103" data-lr-field="lat">
                <span class="invalid-feedback"></span>
              </div>
              <div class="mb-3">
                <label class="form-label" for="place-lon">Longitude</label>
                <input class="form-control" id="place-lon" type="text" placeholder="12.5720401" data-lr-field="lon">
                <span class="invalid-feedback"></span>
              </div>
              <div class="mb-3">
                <label class="form-label" for="place-image">Image</label>
                <input class="form-control" id="place-image" type="file" accept=".jpg, .jpeg, .png" data-lr-field="image">
                <span class="invalid-feedback"></span>
              </div>
              <div class="d-flex justify-content-end">
                <button class="btn btn-primary" type="submit">
                  <span>Save place</span>
                  <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" data-bs-backdrop="static" id="delete-place-modal"
         tabindex="-1" aria-labelledby="delete-place-modalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="delete-place-modalLabel">Delete place</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body p-4">
            <form id="form-delete-place" novalidate>
              <p></p>
              <div class="d-flex justify-content-end">
                <button class="btn btn-danger" type="submit">
                  <span>Delete place</span>
                  <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="position-fixed top-0 start-50 translate-middle-x p-3" style="z-index: 1060;">
      <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
          <div class="toast-body"></div>
          <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.0/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <script>

      // Toast logic.

      const toast_container = document.querySelector('div.position-fixed.top-0.start-50.translate-middle-x.p-3');
      const toast_el = toast_container.firstElementChild;
      toast_container.removeChild(toast_el);

      const show_toast = (msg, bg_class) => {
        const new_toast_el = toast_el.cloneNode(true);
        if (bg_class) {
          new_toast_el.classList.add('text-white');
          new_toast_el.classList.add(bg_class);
        }
        new_toast_el.querySelector('.toast-body').innerText = msg;
        toast_container.append(new_toast_el);
        const toast = new bootstrap.Toast(new_toast_el);
        new_toast_el.addEventListener('hidden.bs.toast', () => {
          new_toast_el.parentNode.removeChild(new_toast_el);
          toast.dispose();
        });
        toast.show();
      };


      // Page functions.

      const toggle_pnl_login = force => {
        const pnl_login = document.getElementById('pnl-login')
        const result = pnl_login.classList.toggle('d-none', force);
        if (!result) {
          let ctrl_focus = pnl_login.querySelector('[data-lr-field="username"]');
          ctrl_focus = ctrl_focus.value ? pnl_login.querySelector('[data-lr-field="password"]') : ctrl_focus;
          ctrl_focus.focus();
        }
      };

      const toggle_pnl_place_list = force => {
        document.getElementById('pnl-place-list').classList.toggle('d-none', force);
      };

      const toggle_btn = (el, force) => {
        el.querySelectorAll('button')
          .forEach(btn => {
            btn.disabled = force == null ? !btn.disabled : !force;
            if (btn.type === 'submit') {
              btn.firstElementChild.classList.toggle('d-none', force == null ? undefined : !force);
              btn.querySelector('.spinner-border').classList.toggle('d-none', force);
            }
          });
      };

      const toggle_field_error = (el, field, force) => {
        el = el.querySelector(`[data-lr-field="${field}"]`);
        el.classList.toggle('is-invalid', force);
        return el;
      };

      const toggle_field_error_msg = (el, field, msg) => {
        el = toggle_field_error(el, field, !!msg);
        el.parentElement.lastElementChild.innerText = msg ?? '';
        return el;
      };


      // Fetch apis.

      const process_api_res = res => {
        const contentType = res.headers.get("content-type");
        let json = contentType ? res.json() : res;
        return res.ok ? json :
          json.then(error => { throw error; });
      };

      const fetch_api = (route, method, body) => {
        let headers = {};
        const isBodyFormData = body && body instanceof FormData;
        if (!isBodyFormData) headers['Content-Type'] = 'application/json';

        let token = sessionStorage.getItem('token');
        if (token) headers.Authorization = `Token ${token}`;

        let options = {
          method: method || 'GET',
          headers: headers,
          credentials: 'omit',
        };
        if (body) options.body = isBodyFormData ? body : JSON.stringify(body);

        return fetch(`${window.location.href}${route}`, options);
      };

      const fetch_api_spinner = (route, close_spinner_f) =>
        fetch_api(route, 'GET', null)
          .then(res => {
            close_spinner_f();
            return process_api_res(res);
          });

      const fetch_api_form = (route, el_btns, method, body) => {
        if (el_btns) toggle_btn(el_btns, false);
        return fetch_api(route, method, body)
          .then(res => {
            if (el_btns) toggle_btn(el_btns, true);
            return process_api_res(res);
          });
      };


      // Places logic.

      const place_container = document.querySelector('div.d-flex.justify-content-evenly.flex-wrap');
      const place_el = place_container.firstElementChild;
      place_container.removeChild(place_el);

      const input_search = document.querySelector('[type="search"]');

      const load_places = () => {
        place_container.querySelectorAll('div.card').forEach(card => {
          card.querySelectorAll('a').forEach(anchor => {
            const tooltip = bootstrap.Tooltip.getInstance(anchor);
            tooltip.dispose();
          });
          card.parentElement.removeChild(card);
        });
        document.getElementById('no-places').classList.add('d-none');
        document.getElementById('no-places-found').classList.add('d-none');
        document.getElementById('error-places').classList.add('d-none');
        document.getElementById('spinner-places').classList.remove('d-none');

        const search = input_search.value ? `?search=${input_search.value}` : '';

        fetch_api_spinner(
          `api/lunch/places${search}`,
          () => { document.getElementById('spinner-places').classList.add('d-none'); }
        )
        .then(data => {
          if (data.length > 0) {
            const dFrag = document.createDocumentFragment();
            data.forEach(place => {
              const new_place_el = place_el.cloneNode(true);

              new_place_el.querySelector('.card-title').innerText = place.name;

              const card_body = new_place_el.querySelector('.card-body');

              const adrs = new_place_el.querySelector('.adrs');
              if (place.address) {
                adrs.innerText = place.address;
              }
              else card_body.removeChild(adrs);

              const pos = new_place_el.querySelector('.pos');
              if (place.lat || place.lon) {
                const lat = place.lat ? ` ${place.lat}` : '';
                const lon = place.lon ? ` ${place.lon}` : '';
                pos.appendChild(document.createTextNode(`${lat}${lon}`));
              }
              else card_body.removeChild(pos);

              if (place.image) {
                new_place_el.removeChild(new_place_el.querySelector('i'));
                const img = new_place_el.querySelector('img');
                img.src = place.image;
                img.alt = `${place.name} image`;
              }
              else new_place_el.removeChild(new_place_el.querySelector('img'));

              new_place_el.querySelectorAll('a').forEach(anchor => {
                anchor.setAttribute('data-lr-place-id', place.id);
              });

              dFrag.appendChild(new_place_el);
            });
            place_container.appendChild(dFrag);
            init_tooltips(place_container);
          }
          else {
            const mes_id = search ? 'no-places-found' : 'no-places';
            document.getElementById(mes_id).classList.remove('d-none');
          }
        })
        .catch(error => {
          document.getElementById('error-places').classList.remove('d-none');
        });
      };


      // Init tooltip.

      const init_tooltips = el => {
        el = el ? el : document;
        el.querySelectorAll('[data-lr-role="tooltip"]')
          .forEach(tooltip => {
            new bootstrap.Tooltip(tooltip)
          });
      };
      init_tooltips();


      // Init modals.

      document.querySelectorAll('div.modal')
        .forEach(modal => {
          const form = modal.querySelector('form');
          modal.addEventListener('shown.bs.modal', event => {
            let el = form.querySelectorAll('[data-lr-field]');
            el = el && el.length > 0 ? el[0] : null;
            if (el) {
              if (el.classList.contains('select2-hidden-accessible')) {
                el = el.nextElementSibling.querySelector('.select2-search__field');
              }
              if (el) el.focus();
            }
          });
          modal.addEventListener('hidden.bs.modal', event => {
            form.reset();
            form.querySelectorAll('[data-lr-field]')
              .forEach(input => {
                toggle_field_error_msg(form, input.getAttribute('data-lr-field'));
              });
            form.querySelectorAll('select')
              .forEach(select => {
                const jselect = $(select);
                jselect.data('select2').results.clear();
                jselect.val(null).trigger('change');
              });
          });
        });


      // Registration modal.

      const sign_up_modal = document.getElementById('sign-up-modal');
      const form_sign_up = document.getElementById('form-sign-up');
      form_sign_up.addEventListener('submit', event => {
        const el_user = toggle_field_error_msg(form_sign_up, 'username');
        const el_mail = toggle_field_error_msg(form_sign_up, 'email');
        const el_pwd = toggle_field_error_msg(form_sign_up, 'password');
        const el_conf_pwd = toggle_field_error_msg(form_sign_up, 'confirm password');
        event.preventDefault();

        if (el_pwd.value === el_conf_pwd.value) {
          const payload = {
            username: el_user.value,
            password: el_pwd.value,
            email: el_mail.value
          };
          fetch_api_form('api/user/create/', sign_up_modal, 'POST', payload)
            .then(data => {
              show_toast('Registration completed successfully.', 'bg-success');
              const modal = bootstrap.Modal.getInstance(sign_up_modal);
              modal.hide();
            })
            .catch(error => {
              for (const prop in error) {
                if (prop === 'non_field_errors') {
                  toggle_field_error(form_sign_up, 'username', true);
                  toggle_field_error(form_sign_up, 'password', true);
                  toggle_field_error(form_sign_up, 'email', true);
                  toggle_field_error(form_sign_up, 'confirm password', true);
                  show_toast(error[prop], 'bg-danger');
                }
                else toggle_field_error_msg(form_sign_up, prop, error[prop]);
              }
            });
        }
        else toggle_field_error_msg(form_sign_up, 'confirm password', 'The field confirm password don\'t match the field password.');
      });


      // Change password.

      const chg_pwd_modal = document.getElementById('chg-pwd-modal');
      const form_chg_pwd = document.getElementById('form-chg-pwd');
      form_chg_pwd.addEventListener('submit', event => {
        const el_old_pwd = toggle_field_error_msg(form_chg_pwd, 'old password');
        const el_pwd = toggle_field_error_msg(form_chg_pwd, 'password');
        const el_conf_pwd = toggle_field_error_msg(form_chg_pwd, 'confirm password');
        event.preventDefault();

        if (el_pwd.value && el_pwd.value === el_conf_pwd.value) {
          let payload = {
            username: sessionStorage.getItem('username'),
            password: el_old_pwd.value
          };
          fetch_api_form('api/user/token/', chg_pwd_modal, 'POST', payload)
            .then(data => {
              payload = {
                password: el_pwd.value
              };
              fetch_api_form('api/user/me/', chg_pwd_modal, 'PATCH', payload)
                .then(data => {
                  show_toast('Password changed successfully.', 'bg-success');
                  const modal = bootstrap.Modal.getInstance(chg_pwd_modal);
                  modal.hide();
                })
                .catch(error => {
                  for (const prop in error) {
                    if (prop === 'non_field_errors') {
                      toggle_field_error(form_chg_pwd, 'old password', true);
                      toggle_field_error(form_chg_pwd, 'password', true);
                      toggle_field_error(form_chg_pwd, 'confirm password', true);
                      show_toast(error[prop], 'bg-danger');
                    }
                    else toggle_field_error_msg(form_chg_pwd, prop, error[prop]);
                  }
                });
            })
            .catch(error => {
              toggle_field_error_msg(form_chg_pwd, 'old password', 'Old password is wrong.');
            });
        }
        else if (!el_pwd.value) {
          toggle_field_error(form_chg_pwd, 'password', true);
          toggle_field_error(form_chg_pwd, 'confirm password', true);
          show_toast('New password and confirm new password can not be empty.', 'bg-danger');
        }
        else toggle_field_error_msg(form_chg_pwd, 'confirm password', 'The field confirm new password don\'t match the field new password.');
      });


      // Edit profile.

      const profile_modal = document.getElementById('profile-modal');
      const form_profile = document.getElementById('form-profile');
      profile_modal.addEventListener('show.bs.modal', event => {
        fetch_api_form('api/user/me/', profile_modal)
          .then(data => {
            form_profile.querySelector('[data-lr-field="username"]').value = data.username;
            form_profile.querySelector('[data-lr-field="email"]').value = data.email;
          })
          .catch(error => {
            show_toast(JSON.stringify(error), 'bg-danger');
          });
      });

      form_profile.addEventListener('submit', event => {
        const el_user = toggle_field_error_msg(form_profile, 'username');
        const el_mail = toggle_field_error_msg(form_profile, 'email');
        event.preventDefault();

        const payload = {
          username: el_user.value,
          email: el_mail.value
        };
        fetch_api_form('api/user/me/', profile_modal, 'PATCH', payload)
          .then(data => {
            sessionStorage.setItem('username', payload.username);
            show_toast('Profile information saved successfully.', 'bg-success');
            const modal = bootstrap.Modal.getInstance(profile_modal);
            modal.hide();
          })
          .catch(error => {
            for (const prop in error) {
              if (prop === 'non_field_errors') {
                toggle_field_error(form_profile, 'username', true);
                toggle_field_error(form_profile, 'email', true);
                show_toast(error[prop], 'bg-danger');
              }
              else toggle_field_error_msg(form_profile, prop, error[prop]);
            }
          });
      });


      // Place modal.

      const place_modal = document.getElementById('place-modal');
      const form_place = document.getElementById('form-place');

      const select2_opt = {
        theme: 'bootstrap-5',
        dropdownParent: place_modal,
        tags: true,
        multiple: true,
        maximumSelectionLength: 1,
      };

      const select2_osm_opt = {
        url: 'https://nominatim.openstreetmap.org/search',
        dataType: 'json',
        delay: 250,
        data: params => {
          if (params.term) {
            return {
              q: params.term.trim().replace(/\s+/g, ' ').replace(' ', '+'),
              format: 'json',
              addressdetails: 1
            }
          }
        }
      };

      const osm_processResults = place => {
        const num = place.address.house_number ? ` ${place.address.house_number}` : '';
        const village = place.address.village ? ` ${place.address.village}` : '';
        const city = place.address.county ? ` ${place.address.county}` :
          place.address.city ? ` ${place.address.city}` : '';
        const postcode = place.address.postcode ? ` ${place.address.postcode}` : '';
        const country = place.address.country ? ` ${place.address.country}` : '';
        return {
          id: place.place_id,
          address: `${place.address.road}${num}${village}${city}${postcode}${country}`,
          lat: place.lat,
          lon: place.lon
        };
      }

      const set_select2 = (selector, value) => {
        const jselect = $(selector);
        jselect.data('select2').results.clear();
        jselect.val(null).trigger('change');
        const newOption = new Option(value, value, false, true);
        jselect.append(newOption).trigger('change');
      };

      const set_lat_lon = (lat, lon) => {
        form_place.querySelector('[data-lr-field="lat"]').value = lat;
        form_place.querySelector('[data-lr-field="lon"]').value = lon;
      };

      $('#place-name').select2({
        ...select2_opt,
        ajax: {
          ...select2_osm_opt,
          processResults: (data, params) => {
            return {
              results: data
                .filter(place => place.address.amenity)
                .map(place => {
                  let res = osm_processResults(place);
                  res.name = place.address.amenity;
                  return res;
                })
            };
          },
          cache: true
        },
        placeholder: 'Geranium',
        templateResult: place => {
          if (!place.name) {
            return place.text;
          }
          return $(
            '<div class="select2-result-repository clearfix">' +
              '<div class="select2-result-repository__meta">' +
                '<div class="select2-result-repository__title">' + place.name + '</div>' +
                '<div class="select2-result-repository__description">' + place.address + '</div>' +
              '</div>' +
            '</div>'
          );
        },
        templateSelection: place => {
          if (place.name) {
            set_select2('#place-address', place.address);
            set_lat_lon(place.lat, place.lon);
            return place.name;
          }
          return place.text;
        }
      });

      $('#place-address').select2({
        ...select2_opt,
        ajax: {
          ...select2_osm_opt,
          processResults: (data, params) => {
            return {
              results: data
                .filter(place => place.address.road)
                .map(place => osm_processResults(place))
            };
          },
          cache: true
        },
        placeholder: 'Per Henrik Lings Allé Copenaghen 2100 Danimarca',
        templateResult: place => {
          return place.address || place.text;
        },
        templateSelection: place => {
          if (place.address) {
            set_lat_lon(place.lat, place.lon);
            return place.address;
          }
          return place.text;
        }
      });

      $('.select2-search__field').on('keydown', event => {
        const select2_p_name = $('#place-name').data('select2');
        const select2_p_address = $('#place-address').data('select2');
        if (event.key === 'Escape' &&
            !select2_p_name.isOpen() && !select2_p_address.isOpen()) {
          const modal = bootstrap.Modal.getInstance(place_modal);
          modal.hide();
        }
      });

      success_place_toast = () => {
        show_toast('Place saved successfully.', 'bg-success');
        const modal = bootstrap.Modal.getInstance(place_modal);
        modal.hide();
        load_places();
      };

      let selected_place_id;
      place_modal.addEventListener('show.bs.modal', event => {
        const place_title = place_modal.querySelector('.modal-title');
        selected_place_id = $(event.relatedTarget).data('lr-place-id');
        if (selected_place_id) {
          fetch_api_form(`api/lunch/places/${selected_place_id}`, place_modal)
            .then(data => {
              set_select2('#place-name', data.name);
              if (data.address) set_select2('#place-address', data.address);
              set_lat_lon(data.lat, data.lon);
            })
            .catch(error => {
              show_toast(JSON.stringify(error), 'bg-danger');
            });
          place_title.innerText = 'Edit place';
        }
        else place_title.innerText = 'Add new place';
      });

      form_place.addEventListener('submit', event => {
        toggle_field_error_msg(form_place, 'name');
        toggle_field_error_msg(form_place, 'address');
        toggle_field_error_msg(form_place, 'image');
        toggle_field_error_msg(form_place, 'lat');
        toggle_field_error_msg(form_place, 'lon');
        event.preventDefault();

        const p_name = $('#place-name').select2('data');
        const p_address = $('#place-address').select2('data');
        const payload = {
          name: p_name.length > 0 ? p_name[0].name || p_name[0].text : '',
          address: p_address.length > 0 ? p_address[0].address || p_address[0].text : '',
          lat: document.getElementById('place-lat').value,
          lon: document.getElementById('place-lon').value
        };

        let str_id = `${selected_place_id}/`;
        let method = 'PATCH';
        if (!selected_place_id) {
          str_id = '';
          method = 'POST';
          payload.image = null;
        }

        fetch_api_form(`api/lunch/places/${str_id}`, place_modal, method, payload)
          .then(data => {
            const files = document.getElementById('place-image').files;
            if (files.length > 0) {
              const formData = new FormData();
              formData.append('image', files[0]);
              fetch_api_form(`api/lunch/places/${data.id}/upload-image/`, place_modal, 'POST', formData)
                .then(data => {
                  success_place_toast();
                })
                .catch(error => {
                  for (const prop in error) {
                    if (prop === 'non_field_errors') {
                      toggle_field_error(form_place, 'image', true);
                      show_toast(error[prop], 'bg-danger');
                    }
                    else toggle_field_error_msg(form_place, prop, error[prop]);
                  }
                });
            }
            else success_place_toast();
          })
          .catch(error => {
            for (const prop in error) {
              if (prop === 'non_field_errors') {
                toggle_field_error(form_place, 'name', true);
                toggle_field_error(form_place, 'address', true);
                toggle_field_error(form_place, 'lat', true);
                toggle_field_error(form_place, 'lon', true);
                show_toast(error[prop], 'bg-danger');
              }
              else toggle_field_error_msg(form_place, prop, error[prop]);
            }
          });
      });


      // Delete place modal.

      const delete_place_modal = document.getElementById('delete-place-modal');
      const form_delete_place = document.getElementById('form-delete-place');

      delete_place_modal.addEventListener('show.bs.modal', event => {
        const p = form_delete_place.querySelector('p');
        p.innerHTML = '';
        selected_place_id = $(event.relatedTarget).data('lr-place-id');
        fetch_api_form(`api/lunch/places/${selected_place_id}`, delete_place_modal)
          .then(data => {
            p.appendChild(document.createTextNode('Are you sure you want to delete the place '));
            const strong = document.createElement('strong');
            strong.appendChild(document.createTextNode(data.name));
            p.appendChild(strong);
            p.appendChild(document.createTextNode('?'));
          })
          .catch(error => {
            show_toast(JSON.stringify(error), 'bg-danger');
          });
      });

      form_delete_place.addEventListener('submit', event => {
        event.preventDefault();
        fetch_api_form(`api/lunch/places/${selected_place_id}`, delete_place_modal, 'DELETE')
          .then(data => {
            show_toast('Place deleted successfully.', 'bg-success');
            const modal = bootstrap.Modal.getInstance(delete_place_modal);
            modal.hide();
            load_places();
          })
          .catch(error => {
            show_toast(JSON.stringify(error), 'bg-danger');
          });
      });


      // Search bar.

      const toggle_search_bar = force => {
        const el = document.querySelector('nav .container-fluid');
        for (const child of el.children) {
          child.classList.toggle('d-none', force);
        }
        el.lastElementChild.classList.toggle('d-none', force == null ? undefined : !force);
      };

      document.getElementById('btn-search').addEventListener('click', event => {
        event.preventDefault();
        toggle_search_bar(true);
        input_search.focus();
      });

      const close_search_bar = () => {
        toggle_search_bar(false);
        input_search.value = '';
        load_places();
      };

      document.getElementById('btn-close-search').addEventListener('click', event => {
        event.preventDefault();
        close_search_bar();
      });

      let search_place_timeout = null;
      input_search.addEventListener("keydown", event => {
        if (event.key === 'Escape') close_search_bar();
        else {
          if (search_place_timeout) clearTimeout(search_place_timeout);
          search_place_timeout = setTimeout(load_places, 250);
        }
      });


      // Init page.

      const init_page = () => {
        if (sessionStorage.getItem('token')) {
          toggle_pnl_place_list(false);
          toggle_pnl_login(true);
          load_places();
        }
        else {
          toggle_pnl_login(false);
          toggle_pnl_place_list(true);
        }
      };


      // Log out.

      document.getElementById('btn-logout').addEventListener('click', event => {
        event.preventDefault();
        sessionStorage.clear();
        init_page();
      });


      // Log in.

      const form_login = document.getElementById('form-login');
      form_login.addEventListener('submit', event => {
        const el_user = toggle_field_error_msg(form_login, 'username');
        const el_pwd = toggle_field_error_msg(form_login, 'password');
        event.preventDefault();

        const payload = {
          username: el_user.value,
          password: el_pwd.value
        };
        fetch_api_form('api/user/token/', form_login, 'POST', payload)
          .then(data => {
            sessionStorage.setItem('token', data.token);
            sessionStorage.setItem('username', payload.username);
            el_pwd.value = '';
            init_page();
          })
          .catch(error => {
            for (const prop in error) {
              if (prop === 'non_field_errors') {
                toggle_field_error(form_login, 'username', true);
                toggle_field_error(form_login, 'password', true);
                show_toast(error[prop], 'bg-danger');
              }
              else toggle_field_error_msg(form_login, prop, error[prop]);
            }
          });
      });

      init_page();

    </script>
  </body>
</html>
