<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Lunch Roulette</title>
  </head>
  <body>   
    <div class="vh-100 d-flex justify-content-center align-items-center">
      <div id="pnl-login" class="card shadow-lg d-none">
        <div class="card-body p-5">
          <h2 class="fw-bold text-uppercase">Lunch Roulette</h2>
          <p>Please enter your login and password!</p>
          <form id="form-login">
            <div class="form-floating mb-3">
              <input type="username" class="form-control" id="l-username" placeholder="username">
              <label for="l-username">Username</label>
              <span class="invalid-feedback"></span>
            </div>
            <div class="form-floating mb-3">
              <input type="password" class="form-control" id="l-password" placeholder="password">
              <label for="l-password">Password</label>
              <span class="invalid-feedback"></span>
            </div>
            <!--p class="small"><a class="text-primary" href="forget-password.html">Forgot password?</a></p-->
            <button class="btn btn-primary w-100" id="btn-login" type="submit">
              <span>Login</span>
              <span class="spinner-border spinner-border-sm d-none" id="spin-login" role="status" aria-hidden="true"></span>
            </button>
          </form>
          <div>
            <p class="mb-0 text-center">
              Don't have an account?
              <a href="" data-bs-toggle="modal" data-bs-target="#sign-up-modal" class="text-primary fw-bold">Sign Up</a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false"
         id="sign-up-modal" tabindex="-1" aria-labelledby="sign-up-modalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="sign-up-modalLabel">Sign Up</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body p-4">
            <form id="form-sign-up" novalidate>
              <div class="form-floating mb-3">
                <input type="username" class="form-control" id="r-username" placeholder="username">
                <label for="r-username">Username</label>
                <span class="invalid-feedback"></span>
              </div>
              <div class="form-floating mb-3">
                <input type="email" class="form-control" id="r-email" placeholder="email">
                <label for="r-email">Email</label>
                <span class="invalid-feedback"></span>
              </div>
              <div class="form-floating mb-3">
                <input type="password" class="form-control" id="r-password" placeholder="password">
                <label for="r-password">Password</label>
                <span class="invalid-feedback"></span>
              </div>
              <div class="form-floating mb-3">
                <input type="password" class="form-control" id="c-password" placeholder="confirm password">
                <label for="c-password">Confirm password</label>
                <span class="invalid-feedback"></span>
              </div>
              <!--p class="small"><a class="text-primary" href="forget-password.html">Forgot password?</a></p-->
              <div class="d-flex justify-content-end">
                <button class="btn btn-primary" id="btn-sign-up" type="submit">
                  <span>Sign Up</span>
                  <span class="spinner-border spinner-border-sm d-none" id="spin-sign-up" role="status" aria-hidden="true"></span>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="position-fixed top-0 end-0 p-3" style="z-index: 1041;">
      <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
          <div class="toast-body"></div>
          <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <script>

      // Toast logic.

      const toast_container = document.querySelector('div.position-fixed.top-0.end-0.p-3');
      const toast_el = document.querySelector('div.toast');
      toast_el.parentNode.removeChild(toast_el);

      const show_toast = (msg, bg_class) => {
        const new_toast_el = toast_el.cloneNode(true);
        if (bg_class) {
          new_toast_el.classList.add('text-white');
          new_toast_el.classList.add(bg_class);
        }
        new_toast_el.querySelector('.toast-body').innerText = msg;
        toast_container.append(new_toast_el);
        const toast = new bootstrap.Toast(new_toast_el);
        new_toast_el.addEventListener('hidden.bs.toast', () => {
          new_toast_el.parentNode.removeChild(new_toast_el);
          toast.dispose();
        });
        toast.show();
      };


      // Fetch apis.

      const fetch_api = (route, method, body) => {
        let headers = {
          'Content-Type': 'application/json'
        };
        let token = sessionStorage.getItem('token');
        if (token) headers.Authorization = `Token ${token}`;

        let options = {
          method: method || 'GET',
          headers: headers,
        };
        if (body) options.body = JSON.stringify(body);

        return fetch(`${window.location.href}${route}`, options)
          .then(res => {
            let json = res.json();
            return res.ok ? json :
              json.then(error => { throw error; });
          });
      };


      // Page logic.

      const toggle_pnl_login = (force) => {
        const pnl_login = document.getElementById('pnl-login')
        const result = pnl_login.classList.toggle('d-none', force);
        if (!result) {
          let ctrl_focus = pnl_login.querySelector('[placeholder="username"]');
          ctrl_focus = ctrl_focus.value ? pnl_login.querySelector('[placeholder="password"]') : ctrl_focus;
          ctrl_focus.focus();
        }
      };


      // Init page.

      const init_page = () => {
        if (sessionStorage.getItem('token')) {
          console.log('place list');
          toggle_pnl_login(true);
        }
        else { // Show and init log in and sign up modal.

          const toggle_field_error = (el, field, force) => {
            el = el.querySelector(`[placeholder="${field}"]`);
            el.classList.toggle('is-invalid', force);
            return el;
          };

          const toggle_field_error_msg = (el, field, msg) => {
            el = toggle_field_error(el, field, !!msg);
            el.parentElement.lastElementChild.innerText = msg ?? '';
            return el;
          };

          // Init log in.

          const toggle_btn_login = () => {
            const btn_login = document.getElementById('btn-login');
            btn_login.disabled = !btn_login.disabled;
            btn_login.firstElementChild.classList.toggle('d-none');
            btn_login.querySelector('.spinner-border').classList.toggle('d-none'); 
          };

          toggle_pnl_login();

          const form_login = document.getElementById('form-login');
          form_login.addEventListener('submit', event => {
            toggle_btn_login();
            toggle_field_error_msg(form_login, 'username');
            toggle_field_error_msg(form_login, 'password');
            event.preventDefault();

            const payload = {
              username: form_login.querySelector('[placeholder="username"]').value,
              password: form_login.querySelector('[placeholder="password"]').value
            }
            fetch_api('api/user/token/', 'POST', payload)
            .then(data => {
              sessionStorage.setItem('token', data.token);
              init_page();
            })
            .catch(error => {
              toggle_btn_login();
              for (const prop in error) {
                if (prop == 'non_field_errors') {
                  toggle_field_error(form_login, 'username', true);
                  toggle_field_error(form_login, 'password', true);
                  show_toast(error[prop], 'bg-danger');
                }
                else toggle_field_error_msg(form_login, prop, error[prop]);
              }
            });
          });

          // Registration modal.

          const sign_up_modal = document.getElementById('sign-up-modal');

          const toggle_btn_sign_up = (active) => {
            const btn_sign_up = document.getElementById('btn-sign-up');
            btn_sign_up.disabled = active == null ? !btn_sign_up.disabled : !active;
            btn_sign_up.firstElementChild.classList.toggle('d-none', active == null ? undefined : !active);
            btn_sign_up.querySelector('.spinner-border').classList.toggle('d-none', active);
            sign_up_modal.querySelector('.btn-close').classList.toggle('d-none', active == null ? undefined : !active);
          };

          sign_up_modal.addEventListener('shown.bs.modal', () => {
            toggle_btn_sign_up(true);
            sign_up_modal.querySelector('[placeholder="username"]').focus();
          });

          const form_sign_up = document.getElementById('form-sign-up');
          sign_up_modal.addEventListener('hidden.bs.modal', () => {
            form_sign_up.reset();
          });

          form_sign_up.addEventListener('submit', event => {
            toggle_field_error_msg(form_sign_up, 'username');
            toggle_field_error_msg(form_sign_up, 'email');
            const el_pwd = toggle_field_error_msg(form_sign_up, 'password');
            const el_conf_pwd = toggle_field_error_msg(form_sign_up, 'confirm password');
            event.preventDefault();

            if (el_pwd.value === el_conf_pwd.value)
            {
              toggle_btn_sign_up();
              const payload = {
                username: form_sign_up.querySelector('[placeholder="username"]').value,
                password: form_sign_up.querySelector('[placeholder="password"]').value,
                email: form_sign_up.querySelector('[placeholder="email"]').value
              }
              fetch_api('api/user/create/', 'POST', payload)
              .then(data => {
                const modal = bootstrap.Modal.getInstance(sign_up_modal);
                modal.hide();
                show_toast('Registration completed successfully.', 'bg-success');
              })
              .catch(error => {
                toggle_btn_sign_up();
                for (const prop in error) {
                  if (prop == 'non_field_errors') {
                    toggle_field_error(form_sign_up, 'username', true);
                    toggle_field_error(form_sign_up, 'password', true);
                    toggle_field_error(form_sign_up, 'email', true);
                    toggle_field_error(form_sign_up, 'confirm password', true);
                    show_toast(error[prop], 'bg-danger');
                  }
                  else toggle_field_error_msg(form_sign_up, prop, error[prop]);
                }
              });
            }
            else toggle_field_error_msg(form_sign_up, 'confirm password', 'The field confirm password don\'t match the field password.');
          });
        }
      };

      init_page();

    </script>
  </body>
</html>
